<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>推荐首页</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style style="text/css">
        .datetime{
            color: #AAA;
        }
        .article-body img{
            max-width:600px !important;
        }
    </style>
</head>
<body>
    <ul>
    {% for article in articles %}
        <li class="item" data-id="{{ article.id }}">
            <div>
                <h2>
                    <span class="datetime">{{ article.date }}</span>
                    <a href="{{ article.link }}" target="_blank"  onclick="$.get('/event/click/' + {{ article.id }})">
                        {{ article.title }}
                    </a>

                    <a href="/event/like/{{ article.id }}" class="btn btn-danger btn-sm like-btn">like</a>
                    <a href="/event/hate/{{ article.id }}" class="btn btn-info btn-sm hate-btn">hate</a>

                </h2>
                <div class="article-body">{{ article.body }}</div>
            </div>
        </li>
    {% endfor %}
    </ul>

    <div id="pagination">
        <a href="/?offset={{ prev_offset }}" class="btn">上一页</a>
        <a href="/?offset={{ next_offset }}" class="btn btn-primary">下一页</a>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(function(){
            $('.item').each(function(){
                var id = $(this).data('id');
                $.get('/event/show/' + id);
            })

            $('.like-btn').click(function(){
                $.get(this.href);
                $(this).css({'background' : '#AAA'})
                return false;
            })
            $('.hate-btn').click(function(){
                $.get(this.href);
                $(this).parents('.item').remove();
                return false;
            })
        })
    </script>


</body>
