{% extends 'layout.html' %}

{% block title %}标记页面{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% for article in articles %}
        <div class="row item" data-id="{{ article.id }}">
            <div class="article-header">
                <div>
                    <span>{{ article.score }}</span>

                    {% if article.y == 1 %}
                    <span>是主体</span>
                    {% else %}
                    <span class="text-danger">不是主体</span>
                    {% endif %}

                    <a class="btn btn-danger" href="/main_content_sample/del/{{ article.id }}">删除样本</a>
                </div>
                <div>
                    {{ article.feat }}
                </div>
            </div>

            <div class="article-body">
                {{ article.body | safe }}
            </div>

            <div class="article-footer">
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">

</script>
{% endblock %}
